<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MV7X22E7J6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-MV7X22E7J6');
    </script>
    
    <title>NBA Win Percentage Analysis | Win Time Tracking 2022-23</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var table = new google.visualization.Table(document.getElementById('table_div'));
        var json_data = new google.visualization.DataTable({{ table|safe }});
        var patternFormat = {
            suffix: '%',
            fractionDigits: 1
        }
        var formatter = new google.visualization.NumberFormat(patternFormat);
        formatter.format(json_data, 1)
        formatter.format(json_data, 2)
        formatter.format(json_data, 3)
        formatter.format(json_data, 6)
        formatter.format(json_data, 9)
        formatter.format(json_data, 10)
        formatter.format(json_data, 11)

        table.draw(json_data, {
            showRowNumber: true, 
            sortColumn: 0, 
            sortAscending: true, 
            height: '100%',
            cssClassNames: {
                headerRow: 'table-header',
                tableRow: 'table-row',
                oddTableRow: 'table-row-odd',
                selectedTableRow: 'table-row-selected',
                hoverTableRow: 'table-row-hover',
                headerCell: 'table-header-cell',
                tableCell: 'table-cell'
            }
        });
    }
    </script>
</head>
<body>
    <header>
        <h1 class="header">NBA Win Percentage Analysis</h1>
        <p class="sub-header">Tracking the amount of time NBA teams spend winning throughout games</p>
        <div class="year_select_nav">
            <label>Season:</label>
            <select name="season_select" onchange="location = this.value;">
                <option value="{{url_for('index')}}">2025-26</option>
                <option value="{{url_for('index_24_25')}}">2024-25</option>
                <option value="{{url_for('index_23_24')}}">2023-24</option>
                <option selected="selected" value="{{url_for('index_22_23')}}">2022-23</option>
            </select>
        </div>
    </header>
    
    <div id="table_div"></div>
    
    <section class="glossary">
        <h4>Glossary</h4>
        <ul>
            <li class="glossary_list"><b>Winning Time %:</b> Percent of game time spent leading the game.</li>
            <li class="glossary_list"><b>Losing Time %:</b> Percent of game time spent losing the game.</li>
            <li class="glossary_list"><b>Tie Time %:</b> Percent of game time spent with a tie game.</li>
            <li class="glossary_list"><b>Wins:</b> Number of games won.</li>
            <li class="glossary_list"><b>Losses:</b> Number of games lost.</li>
            <li class="glossary_list"><b>Win %:</b> Team's actual winning percentage (Games Won / Games Played).</li>
            <li class="glossary_list"><b>Point Diff:</b> Team's average point differential.</li>
            <li class="glossary_list"><b>Expected Wins:</b> Team's expected number of wins based on point differential.</li>
            <li class="glossary_list"><b>Expected Win %:</b> Team's expected winning percentage based on point differential.</li>
            <li class="glossary_list"><b>Winning Time % vs Win %:</b> Difference between team's winning time percent and actual win percent.</li>
            <li class="glossary_list"><b>Winning Time % vs Expected Win %:</b> Difference between team's winning time percent and expected win percent.</li>
        </ul>
    </section>
    
    <footer class="footer">
        <p>Last Updated: {{ context.update_date | safe }}</p>
        <p>Author: Michael Marzec | <a href="mailto:michaelmarzec11@gmail.com">michaelmarzec11@gmail.com</a></p>
        <p>Personal Website: <a href="https://michaelmarzec.github.io">michaelmarzec.github.io</a></p>
        <p>NBA-Age Analysis: <a href="https://nbaage.com">nbaage.com</a></p>
        <p>GitHub: <a href="https://github.com/michaelmarzec/NBA-WP">NBA-WP Repository</a></p>
        <p>Data: <a href="https://cleaningtheglass.com/">CleaningTheGlass</a> & <a href="https://www.basketball-reference.com/">Basketball-Reference</a></p>
    </footer>
</body>
</html>
