/* includes alternating gray and white with on-hover color */

table {
    text-align: center;
    font-size: 11pt;
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;
}

td, th {
    padding: 5px;
}

tr:nth-child(even) {
    background: #E0E0E0;
}

tr:hover {
    background: silver;
    cursor: pointer;
}

.redirect{
    font-size: 18px;
    text-align: center;
    padding-bottom: 40px;
}

.footer{
    clear: both;
    font-size:  16px;
    color: #555555;
    text-align: left;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    background-color: #f2f2f2;
    line-height: 1.5em;
}

.header{
    clear: both;
    font-size:  40px;
    color: #212121;
    text-align: center;
    margin:  0;
}

.sub-header{
    clear: both;
    font-size:  20px;
    color: #212121;
    text-align: center;
    font-style: italic;
}

.year_select_nav{
/*    clear: both;*/
/*    font-size:  20px;*/
/*    color: #212121;*/
    text-align: center;
/*    font-style: italic;*/
}


/*a {
  color: #212121;
  font-size: 19px;
  font-weight: 750;
  text-decoration: none; }
  a:active, a:focus, a:hover {
    color: #20638f;
    /*text-decoration: underline;} */


  /*.navigation .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    font-size: 1.5em;
    padding-top: 0.5em; }
    @media screen and (min-width: 768px) {
      .navigation .navigation-menu-button {
        display: none; } }
  .navigation .navigation-wrapper {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    .navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .navigation .logo {
    float: left;
    height: 4em; }
    @media screen and (min-width: 768px) {
      .navigation .logo {
        padding-left: 16px; } }
    .navigation .logo img {
      max-height: 2.5em;
      margin-top: 0.75em;
      padding-right: 1em; }
    .navigation .logo span {
      font-size: 1.25em; }
  .navigation nav {
    float: none;
    padding: 1.25em 0; }
    @media screen and (min-width: 768px) {
      .navigation nav {
        float: right;
        line-height: 1.5em; } }
  .navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .navigation ul.navigation-menu {
        display: block;
        margin: 0;
        padding: 0; } }
    .navigation ul.navigation-menu.show {
      display: block; }
  .navigation ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0.25em 0; }
    @media screen and (min-width: 768px) {
      .navigation ul li.nav-link {
        background: transparent;
        display: inline;
        text-decoration: none;
        width: auto; } }
  .navigation li.nav-link a {
    display: inline-block; }
    @media screen and (min-width: 768px) {
      .navigation li.nav-link a {
        padding-right: 1.5em; } }
  @media screen and (min-width: 768px) {
    .navigation li.nav-link:last-child a {
      padding-right: 1em; } }



  
  

*/